@media only screen and (max-width: 400px) {
    .hero-title {
        font-size: 3rem;
    }
    .open-menu-mobile {
        right: 15px;
        top: 15px;
        position: fixed;
        z-index: 1;
    }
    .service-icon-mobile {
        color: #0099FF;
        cursor: pointer;
    }
    .home-link {
        top: 20px;
        font-size: 10px;
    }
    .overlay-menu .closebtn {
        top: -1px;
        right: 9px;
        font-size: 25px;
    }
    #service {
        height: 40vh;
    }
    .service-title {
        font-size: 3rem;
        margin-top: 0;
    }
}