@import url('https://fonts.googleapis.com/css?family=Bubbler+One');

/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
    line-height: 2rem;
}

.button-collapse {
    color: #BBDEFB;
}


/* ----- Menu ----- */

.start-menu-link {
    width: 500px;
}

.block-menu-link {
    width: 250px;
}

.menu-link:hover {
    background-color: #bbdefb;
    color: #263238 !important;
    font-family: 'Bubbler One';
}

.menu-link {
    font-family: 'Bubbler One';
}

.active {
    background-color: #bbdefb !important;
}

.menu-link-active:active {
    color: #263238 !important;
}


/* ----- End Menu ----- */


/* ----- Parallax ----- */

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.parallax-container.parallax-hero {
    height: 925px;
}

.overlay {
    background-image: url(../images/overlay.png);
}

.hero-block-title {
    margin-top: 200px;
}

.header {
    font-family: 'Bubbler One';
}

.hero-title {
    font-size: 8rem;
}

.sub-hero-title {
    font-size: 4rem;
}


/* ----- End Parallax ----- */

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
    .hero-block-title {
        margin-top: 60px;
    }
    .parallax-container.parallax-hero {
        height: 620px;
    }
    .hero-title {
        font-size: 6rem;
    }
    .sub-hero-title {
        font-size: 3rem;
    }
    .start-menu-link {
        width: 100%;
    }
    .block-menu-link {
        width: 100%;
    }
    .menu-link {
        width: 100%;
    }
}


/* ----- Job ----- */

.title-job {
    font-family: 'Bubbler One';
    color: #BBDEFB;
    margin-top: 68px;
    color: #bbdefb;
    margin-top: 70px;
}

.my-job {
    color: #bbdefb;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.icon-job {
    color: #BBDEFB;
    color: #bbdefb;
    font-size: 8rem;
}


/* ----- End Job ----- */


/* ----- Footer ----- */

footer.page-footer {
    margin: 0;
}

.footer-copyright {
    font-family: 'Bubbler One';
}


/* ----- End Footer ----- */