@media screen and (max-widh:768px) {
    .hero-logo {
        width: 100%;
    }
}

@media screen and (max-widh:768px) {
    .hero-logo {
        width: 100%;
    }
    .header-cv{
        position: relative;
        width: 100%;
        height: 400px;
    }
    .photo {
        width: 100px;
        height: auto;
    }
    .name-title {
        position: absolute;
        left: 200px;
    }
}