html,
body {
    height: 100%;
    margin: 0;
    background-color: #110C11;
    color: #3b97d3;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

section {
    height: 100%;
}

.info-separateur {
    color: #141619;
}

.info-separateur-2 {
    color: #437cc0;
}

/* ----- Menu ----- */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #110C11;
    opacity: 0.95;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #3b97d3;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.block-link {
    width: 200px;
}

.menu-link:hover {
    border-bottom: 1px solid #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.openMenu {
    position: fixed;
    z-index: 1;
    color: #3b97d3;
    top: 51px;
    right: 57px;
    font-size: 30px;
    cursor: pointer
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/* ----- Hero & Parallax ----- */

.hero-image {
    background-image: url('../images/effet-sketch-overlay.jpg');
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.parallax-1 {
    background-image: url('../images/Toulouse-nb.jpg');
    height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ----- CV Page ----- */

.cv {
    background-color: #141619;
}

.header-cv {
    background-color: #f1f1f1;
    height: 200px;
    position: relative;
}

.name-title {
    position: absolute;
    left: 600px;
    font-family: 'Shrikhand', cursive;
    font-size: 60px;
}

.function-title {
    position: absolute;
    left: 600px;
    font-size: 40px;
    font-weight: 400;
    color: #141619;
}

.sidebar {
    background-color: #141619;
    height: 100%;
}

.photo {
    width: 177px;
    height: 236px;
    border: #437cc0 5px solid;
}

.contact-title {
    overflow: hidden;
    text-align: center;
    color: #f1f1f1;
    font-weight: 200;
}
.contact-title:before,
.contact-title:after {
    background-color: #437cc0;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.contact-title:before {
    right: 0.5em;
    margin-left: -50%;
}
.contact-title:after {
    left: 0.5em;
    margin-right: -50%;
}